@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;1,200&display=swap');
body {
  margin: 0;
  padding:0;
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

